body {
    font-family:Arial;
    margin:0;
    padding:0;
    text-align:center;
    background-color:white;
}

h1 {
    font-size:28px;
    color:#3A1736;
    padding:25px;
    text-align:center;
}

p {
    font-size:18px;
}
