* {
    padding:0;
    margin:0;
    font-family:Arial;
}

.header {
    width:100vw;
    height:10vh;
    background-color:#0042b7;
}
    .header h1 {
        font-size:44px;
        color:white;
        padding:20px 30px;
    }

        .header h1::first-letter {
            font-size:54px;
        }
.menu {
    width:100vw;
    height:50px;
    background-color:#032638;
}

    .menu ul {
        padding:5px 30px;
        font-size:0;
    }

        .menu ul li {
            display:inline-block;
            
            font-size:18px;
            color:white;
            text-align:center;
            background-color:#033748;
            line-height:45px;
            width:100px;
            height:100%;
            border-left:1px solid #a9a6a6;
            border-right:1px solid #a9a6a6;
            border-collapse:collapse;
        }
            .menu ul li:hover {
                background-color:#a9a6a6;
                color:black;
            }

            .menu ul li a {
                color:inherit;
                text-decoration:none;
            }

.content {
    width:100vw;
    height:85vh;
    background-color:white;
}

    .content table {
         background-color:inherit;
         padding:50px 100px;
    }

.label {
    width:150px;
    height:35px;
    text-align:left;
    font-size:20px;
    color:#928e8e
}

.komm {
    height:35px;
    vertical-align:top;
    font-size:20px;
    color:#928e8e
}

.textbox {
    width:220px;
}

.errormsg {
    width:170px;
    font-size:16px;
}

#TextBoxKomm {
Height:200px;
 Width:250px;
}

#ButtonSubmit {
    background-color:#f0f0f0;
    border:1px solid black;
    height:22px;
    width:270px;
}

.footer {
    width:100vw;
    height:3vh;
    background-color:#a9a6a6;
    text-align:center;
}

    .footer p {
        font-size:18px;
        color:#928e8e;
    }
